<div class="buttons-wrapper">
  <a href="/secret" class="logo">JiSyOuN Generator</a>
  <div class="buttons">
    <a href="/new" class="btn">New</a>
    <a href="/new-api" class="btn">New API</a>
    <% if(locals.canSave) { %>
    <button class="btn btn-primary" type="submit">Save</button>
    <% } %>
  </div>
</div>
