:root {
  --back: #002b36;
  --front: #93a1a1;
  --point: #8bc34a;
  --darken: #558b2f;
  --lighten: #aed581;
  --accent: tomato;
}
body {
  margin: 0;
  background-color: var(--back);
  color: var(--front);
}
.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
}
pre {
  margin: 0;
}
#code {
  padding-top: 0;
  padding-bottom: 0;
}
.line-numbers {
  color: var(--front);
  font-family: monospace;
  text-align: end;
  opacity: 0.7;
  user-select: none;
}
textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: var(--front);
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}

.buttons-wrapper {
  font-family: monospace;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.15;
  transition: opacity 200ms ease-in-out;
  background-color: var(--darken);
  padding: 1rem;
}
.buttons-wrapper:hover {
  opacity: 1;
}
.logo {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.logo:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}
.buttons > * + * {
  /* 애들 사이 간격 */
  margin-left: 0.25rem;
}
.btn {
  cursor: pointer;
  background: none;
  border: 1px solid var(--back);
  color: var(--back);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 200ms ease;
  display: inline-block;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--lighten);
}
.btn-primary {
  background-color: tomato;
}
